.div1 {
    display: flex;
    height: 100px;
    width: 100px;
    justify-content: center;
    text-align: center;
    align-items: center;
    transition: 0.5s;
    overflow: hidden;
    box-shadow: 50px -50px 0px 0px #b4b4b4, 50px 50px 0px 0px #585858, -50px 50px 0px 0px #212121, -50px -50px 0px 0px #ffffff;
}
  
.div1:hover {
    height: 640px;
    width: 640px;
  }
  
img {
  filter: grayscale(100%);
  opacity: 0;
  transition: 0.5s;
}

img:hover {
  opacity: 100;
}

  body {
    margin: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background-color: black;
  }
